<div class="m-5">
    <h1 class="text-center">
        <img style="width: 350px;" src="assets/logo.png" alt="">
    </h1>
    <h6 class="text-center text-muted"> Vous disposer de {{pokemons.length}} <i class="fa fa-check-circle"></i> Pokemons !</h6>
    <h1 class="text-center">
        <img class="text-center" *ngFor="let pokemon of pokemons" style="width:50px;" src="assets/pok.png" [title]="pokemon.name">
    </h1>
  </div>

<section class="col-md 8 mx-auto text-center">

<div class="row">
<div class="col-md-2 card" *ngFor="let pokemon of pokemons">
    <a [routerLink]="['detail', pokemon.id]">
    <img [src]="pokemon.picture" alt="" >
    <div class="card-body">
<p>Id: {{pokemon.id}}</p>
<p>Nom: {{pokemon.name}}</p>
<p>Type: {{pokemon.type}}</p>
<p>Vie: {{pokemon.life}}</p>
<p>Capturé le: {{pokemon.created | date:"dd/MM/yyyy"}}</p>
</div>
</a>
</div>
    </div>
</section>
